networks:
  inception:

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    ports:
      - '3306:3306'
    volumes:
      - database:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    ports:
      - '9000:9000'
    volumes:
      - wordpress_volume:/var/www/html/inception/public_html
    networks:
      - inception
    env_file:
      - .env
    restart: always
    depends_on:
      - mariadb

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - '443:443'
    volumes:
      - data:/usr/share/nginx/html
    networks:
      - inception
    restart: always
    depends_on:
      - wordpress

volumes:
  database:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/toni/data/database'

  wordpress_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/toni/data/wordpress_volume'
