networks:
  inception:

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - '443:443'
    volumes:
      - data:/usr/share/nginx/html
    networks:
      - inception
    restart: always

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/toni/data/nginx-php'
